@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../fonts/PressStart2P-Regular.eot');
    src: local('☺'), url('../fonts/PressStart2P-Regular.woff') format('woff'), url('../fonts/PressStart2P-Regular.ttf') format('truetype'), url('../fonts/PressStart2P-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'PressStart2P-Regular', sans-serif;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

/* start page */

.loadScreen {
    background-image: url(../img/bg.gif);
    background-size: auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000000;
}

.logoScreen__bg {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    justify-content: center;
}

.logoStart {
    display: grid;
}

.logoMenu {
    align-self: flex-end;
    justify-self: center;
}

.logoMenu__text {
    justify-content: center;
    align-self: flex-end;
    font-size: 56px;
    /*font-size: 5.6rem;*/
    line-height: 1;
    color: #f4f4f4;
    animation: neon .08s ease-in-out infinite alternate;
}

.logoStart__text {
    /*font-family: 'PressStart2P-Regular';*/
    /*color: #f4f4f4;*/
    justify-content: center;
    align-self: flex-end;
    font-size: 130px;
    /*font-size: 5.6rem;*/
    text-align: center;
    line-height: 1;
    color: #f4f4f4;
    animation: neon .08s ease-in-out infinite alternate;
}

.nav {
    background-image: url(../img/bg.gif);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
}

.menu {
    /*font-family: 'PressStart2P-Regular';*/
    color: #f4f4f4;
    justify-content: center;
    align-self: flex-end;
    /* text-align: center; */
    font-size: 170%;
    padding: .5em;
    transition: 0.4s;
}

.start {
    color: #f4f4f4;
    align-self: center;
    /*font-family: 'PressStart2P-Regular';*/
    justify-self: center;
}


/* -------- */
.container {
    background-image: url(../img/bg.gif);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.arrow {
    /* list-style-image: url(arrow.png); */
    padding-left: 2rem;
    background-image: url(../img/arrow.png);
    background-position: left;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    /*-webkit-animation: blink1 3s linear infinite;*/
    /*animation: blink1 3s linear infinite;*/
}

:focus {
    outline: none;
}

.wrapper {
    /*border: 2px solid #f4f4f4;*/
    background-color: #373737;
    height: 75vh;
    width: 75%;
    padding: 5px;
    border-style: solid;
    border-width: 7px;
    border-color: #f4f4f4;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 1;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23fff' /></svg>");
}

.wrapper-title {
    display: flex;
    justify-content: center;
    /*border: 2px solid #f4f4f4;*/
    padding: .5em;
    background-color: #111111;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
    font-size: 3.2em;
}

.wrapper-description {
    font-size: 2em;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
    margin-top: 5px;
    padding: 15px;
    line-height: 1.2;
}

.wrapper-description > a {
    color: #1199FF;
}


/*games*/
.container-games {
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows:repeat(3, 200px);
    grid-gap: 1px;


}


.game {
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    width: 350px;
    height: 160px;
    background-color: #77ac2e;
    background-size: 750px 500px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s;
    filter: grayscale(1);
    overflow: hidden;
}

.game:hover {
    border: 4px solid #f4f4f4;
    background-size: 380px 170px;
    filter: grayscale(0);
    opacity: 1;

}

.content {
    color: #fff;
    background: #111;
    opacity: .7;
    /*font-family: PressStart2P-Regular;*/
    font-size: 10px;
    text-align: justify;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(120%);
    transition: 0.5s;
}

.content h2 {
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;

}

.game:hover .content {
    transform: translateY(0);
    transition-delay: .5s;
    opacity: .8;
}

/* game */
.container-game {
    background-image: url(../img/bg.gif);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {

    /*border: 2px solid #f4f4f4;*/
    padding: .5em;
    margin-top: 15px;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
    font-size: 3em;

}

.description {
    height: 90%;
    line-height: 1.3;
    border-style: solid;
    border-width: 7px;
    border-color: #f4f4f4;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 1;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23fff' /></svg>");
    /*border: 2px solid #f4f4f4;*/
    padding: .5em;
    background-color: #111111;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    width: 1200px;
}

.screenshot {
    width: 600px;
    height: 350px;
}

.game-items {
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 2.5;
    background-color: #111111;
    justify-self: center;
    align-self: center;
    height: 80%;
    width: 95%;
    padding: 5px;
    border-style: solid;
    border-width: 7px;
    border-color: #f4f4f4;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 1;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23fff' /></svg>");
}

/* EMULATORS */
.container-emulators {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    background-image: url(../img/bg.gif);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.emulators {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    padding: .5em;
    transition: .3s;
}

.emulators:hover {
    border-style: solid;
    border-width: 4px;
    border-color: #f4f4f4;
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23fff' /></svg>");

}

.emulators-title {
    padding: 20px;
    width: 100%;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    text-align: center;
    font-size: 22px;

}

/* emulator */


.emulator {
    font-size: 1.5em;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
    margin-top: 5px;
    padding: 15px;
    line-height: 1.2;
}


.emulator-title {
    display: flex;
    justify-content: center;
    /*border: 2px solid #f4f4f4;*/
    padding: .5em;
    background-color: #111111;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
    font-size: 3.5em;
}

/*options*/


.option-title {
    display: flex;
    justify-content: center;
    /*border: 2px solid #f4f4f4;*/
    padding: .5em;
    background-color: #111111;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;


}

.option-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: .5em;
    grid-gap: 0.5em;
}

.option-items {
    display: grid;
    grid-gap: 1.5em;
    /*align-self: center;*/
    /*justify-self: center;*/
    font-size: 2em;
    padding: 10px;

}


.soundMenu {
    display: flex;
}

.option-label {

    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 60%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 2px 2px 4px #353535;
    background: #f4f4f4;
    border-radius: 0px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #353535;
    border: 1px solid #000000;
    height: 28px;
    width: 10px;
    border-radius: 0px;
    background: #f4f4f4;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f4f4f4;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 2px 2px 4px #353535;
    background: #f4f4f4;
    border-radius: 0px;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #353535;
    border: 1px solid #000000;
    height: 24px;
    width: 10px;
    border-radius: 0px;
    background: #f4f4f4;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #f4f4f4;
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 2px 2px 4px #353535;
}

input[type=range]::-ms-fill-upper {
    background: #f4f4f4;
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 2px 2px 4px #353535;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #353535;
    border: 1px solid #000000;
    height: 24px;
    width: 10px;
    border-radius: 0px;
    background: #f4f4f4;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #f4f4f4;
}

input[type=range]:focus::-ms-fill-upper {
    background: #f4f4f4;
}

/*.switch {*/
/*    position: relative;*/
/*    width: 102px;*/
/*}*/

/*.switch input[type=checkbox] {*/
/*    display: none;*/
/*}*/

/*.switch-label {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    cursor: pointer;*/
/*    border: 2px solid #000000;*/
/*    border-radius: 0px;*/
/*}*/

/*.switch-inner {*/
/*    width: 200%;*/
/*    margin-left: -100%;*/
/*    transition: margin 0.3s ease-in 0s;*/
/*}*/

/*.switch-inner:before, .switch-inner:after {*/
/*    float: left;*/
/*    width: 50%;*/
/*    height: 28px;*/
/*    padding: 0;*/
/*    line-height: 28px;*/
/*    font-size: 17px;*/
/*    color: white;*/
/*    !*font-family: PressStart2P-Regular;*!*/
/*    font-weight: bold;*/
/*    box-sizing: border-box;*/
/*}*/

/*.switch-inner:before {*/
/*    content: "On";*/
/*    padding-left: 14px;*/
/*    background-color: #111111;*/
/*    color: #ffffff;*/
/*}*/

/*.switch-inner:after {*/
/*    content: "Off";*/
/*    padding-right: 14px;*/
/*    background-color: #f4f4f4;*/
/*    color: #111111;*/
/*    text-align: right;*/
/*}*/

/*.switch-click {*/
/*    width: 30px;*/
/*    margin: -1px;*/
/*    background: #ffffff;*/
/*    border: 2px solid #000000;*/
/*    border-radius: 0px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: 72px;*/
/*    transition: all 0.3s ease-in 0s;*/
/*}*/

/*.switch-checkbox:checked + .switch-label .switch-inner {*/
/*    margin-left: 0;*/
/*}*/

/*.switch-checkbox:checked + .switch-label .switch-click {*/
/*    right: 0;*/
/*}*/

.options-item, .option-title {
    font-size: 3.5em;
}

/* about */
.about {
    font-size: 2em;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    letter-spacing: 5px;
    margin-top: 5px;
    padding: 15px;
    line-height: 1.2;
}

.vk:hover {
    font-size: 2.1em;
    transition: .5s;
    animation: neon .08s ease-in-out infinite alternate;
}


.pixel-button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
    font-size: 1.5em;
    color: #111;
    border-style: solid;
    border-width: 4px;
    /*border-color: #f4f4f4;*/
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 1;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cfffccc' /></svg>");
    position: relative;
    background-color: #f4f4f4;
    padding: 5px;
}

.back {
    color: #f4f4f4;
    font-size: 1.5em;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 10%;

}


/* login */

.login-input {
    /*font-family: 'PressStart2P-Regular';*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #111;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
    border-radius: 5px;

}

.login-label {
    /*font-family: 'PressStart2P-Regular';*/
    color: #f4f4f4;
    font-size: 120%;
    padding: .5em;
    margin: 0 0;
}

.login-form {
    display: grid;
    grid-template-rows:repeat(5, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;

}

.login-btn {
    background-color: #111;
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    /*font-family: 'PressStart2P-Regular';*/
    font-size: 120%;
    padding: .5em;
}

/*admin-panel*/
.panel {
    border: 2px solid #f4f4f4;
    background-color: #111;
    width: 30vw;
    transition: max-height 0.2s ease-out;
    padding: 3.5em;

}

.panel-logo {
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    padding: .5rem;
    border-bottom: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
}

.panel-button {
    background-color: #111;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.5em;
    /*font-family: PressStart2P-Regular;*/
    color: #f4f4f4;
    padding: .5em;
}

.panel-menu {

    background-color: #111;
    color: #f4f4f4;
    /*font-family: PressStart2P-Regular;*/
    padding: 0 .5em;
    display: none;
    overflow: hidden;

}

.panel-item {
    padding: .5em;
    margin-left: 35px;
    transition: 0.4s;
}

.panel-button:hover, .panel-item:hover {
    padding-left: 2rem;
    background-image: url(../img/arrow.png);
    background-position: left;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

/* PANEL-FORMS*/

.panel-form {
    display: grid;
    grid-template-rows:repeat(6, 100px));
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: .5em;
}

.panel-input {
    font-family: 'PressStart2P-Regular';
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #111;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    min-width: 340px;
    min-height: 55px;
}

.panel-label {
    font-family: 'PressStart2P-Regular';
    font-size: 120%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #111;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

table {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

table th, table td {
    text-align: center;
    padding: 5px;
    border: 2px solid white;
}

/*the animation */

.fadeIn {
    animation-name: fadeIn
}

.fadeOut {
    animation-name: fadeOut
}

.animated-login {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.blink {
    -webkit-animation: blink1 2s linear infinite;
    animation: blink1 2s linear infinite;
}


/*keyframes*/
/*@-webkit-keyframes fadeOut {*/
/*    0% {*/
/*        opacity: 1;*/
/*        display: block;*/
/*    }*/

/*    100% {*/
/*        opacity: 0;*/
/*        display: none;*/
/*    }*/
/*}*/

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

/*@-webkit-keyframes fadeIn {*/
/*    0% {*/
/*        opacity: 0*/
/*    }*/
/*    100% {*/
/*        opacity: 1*/
/*    }*/
/*}*/

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/*@-webkit-keyframes blink1 {*/
/*    0% {*/
/*        color: rgb(255, 255, 255);*/
/*    }*/

/*    50% {*/
/*        color: rgba(255, 255, 255, 0);*/
/*    }*/

/*    100% {*/
/*        color: rgb(255, 255, 255);*/
/*    }*/
/*}*/

@keyframes blink1 {
    0% {
        color: rgb(255, 255, 255);
    }

    50% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: rgb(255, 255, 255);
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(30, 132, 242, 0.52),
        0 0 21px rgba(30, 132, 242, 0.92),
        0 0 34px rgba(30, 132, 242, 0.78),
        0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.42),
        0 0 12px rgba(30, 132, 242, 0.58),
        0 0 22px rgba(30, 132, 242, 0.84),
        0 0 38px rgba(30, 132, 242, 0.88),
        0 0 60px rgba(30, 132, 242, 1);
    }
}

@media screen and (max-width: 480px) {


    .loadScreen {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .logoStart__text {
        font-size: 34px;
    }

    .start {
        font-size: 18px;
    }

    .nav {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .logoMenu__text {
        justify-content: center;
        align-self: flex-end;
        font-size: 36px;
        /* font-size: 5.6rem; */
        line-height: 1;
        color: #f4f4f4;
        animation: neon .08s ease-in-out infinite alternate;
    }
    .arrow {
        /* list-style-image: url(arrow.png); */
        padding-left: 2rem;
        background-image: url();
        background-position: left;
        background-size: 1.6rem 1.6rem;
        background-repeat: no-repeat;
        /*-webkit-animation: blink1 3s linear infinite;*/
        /*animation: blink1 3s linear infinite;*/
    }

    .menu {
        /* font-family: 'PressStart2P-Regular'; */
        color: #f4f4f4;
        justify-content: center;
        align-self: flex-end;
        /* text-align: center; */
        font-size: 120%;
        padding: .5em;
        transition: 0.4s;
    }
    .wrapper {
        /* border: 2px solid #f4f4f4; */
        background-color: #373737;
        height: 75%;
        width: 85%;
        padding: 5px;
    }

    .emulator-title {
        display: flex;
        justify-content: center;
        /* border: 2px solid #f4f4f4; */
        padding: .5em;
        background-color: #111111;
        /* font-family: PressStart2P-Regular; */
        color: #f4f4f4;
        letter-spacing: 5px;
        font-size: 36px;
    }

    .emulator {
        font-size: 10px;
        /* font-family: PressStart2P-Regular; */
        color: #f4f4f4;
        letter-spacing: 5px;
        /* margin-top: 5px; */
        padding: 15px;

    }

    .pixel-button {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        font-size: 1.5em;
        color: #111;
        border-style: solid;
        border-width: 4px;
        /* border-color: #f4f4f4; */

        background-color: #f4f4f4;
        padding: 5px;
    }
    .wrapper-title {
        display: flex;
        justify-content: center;
        /* border: 2px solid #f4f4f4; */
        padding: .5em;
        background-color: #111111;
        /* font-family: PressStart2P-Regular; */
        color: #f4f4f4;
        letter-spacing: 5px;
        font-size: 2em;
    }
    .wrapper-description {
        font-size: .7em;
        /* font-family: PressStart2P-Regular; */
        color: #f4f4f4;
        letter-spacing: 5px;
        margin-top: 5px;
        padding: 15px;

        line-height: 1.2;
    }
    .container-games {
        display: grid;
        width: 100%;
         grid-template-columns:1fr;
        grid-template-rows: repeat(3, 200px);
        grid-gap: 1px;
    }
    .gallery-cell{
        width: 33%;
    }
    .back {

         font-size: 18px;

    }

    element.style {
    }
    .title {
        font-size: 2em;
    }
    button{
        display:none;
    }
}